<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#490eea"/>
<title>Novos | IT Company and Digital Solutions</title>
<meta name="author" content="Themezinho">
<meta name="description" content="Novos | IT Company and Digital Solutions">
<meta name="keywords" content="software, hardware, showcase, portfolio, partner, projects, modern, it, digital, studio, storage, animation, transition, backup">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="Novos | IT Company and Digital Solutions">
<meta property="og:image" content="http://www.themezinho.net/novos/preview.png">
<meta property="og:site_name" content="novos">
<meta property="og:title" content="novos">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/novos">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@novos">
<meta name="twitter:creator" content="@novos">
<meta name="twitter:title" content="novos">
<meta name="twitter:description" content="Novos | IT Company and Digital Solutions">
<meta name="twitter:image" content="http://www.themezinho.net/novos/preview.png">

<!-- FAVICON FILES -->
<link href="/static/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="/static/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="/static/ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="/static/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
<link href="/static/ico/favicon.png" rel="shortcut icon">
<!-- En el <head> de tu HTML, incluye el CSS de Swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


<!-- CSS FILES -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/odometer.min.css">
<link rel="stylesheet" href="/static/css/fancybox.min.css">
<link rel="stylesheet" href="/static/css/swiper.min.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/styles_scrap.css">
<link rel="stylesheet" href="/static/css/calculadora.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>
<body>
<div class="preloader">
  <div class="layers"> <span></span> <span></span> <span></span> </div>
  <!-- end layers -->
  <div class="inner">
    <figure> <img src="/static//images/logo-symbol.png" alt="Image"> </figure>
    <div class="preloader-bar"><span></span></div>
    <!-- end preloader-bar --> 
    <small>LOADING</small> </div>
  <!-- end inner --> 
</div>
<!-- end preloader -->
<div class="page-transition">
  <div class="layers"> <span></span> <span></span> <span></span> </div>
  <!-- end layers --> 
</div>
<!-- end page-transition -->
<nav class="navbar">
  <div class="container">
    <div class="logo"> <a href="index.html"><img src="/static/images/Logo nextsiembra.png" alt="Image"></a> </div>
    <!-- end logo -->
	  <div class="site-menu">
		   <div class="hamburger-menu"><b>MENU</b>
      <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
    </div>
    <!-- end hamburger-menu --> 
	  <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">NOSOTROS</a></li>
      <li><a href="#">PRODUCTOS</a></li>
      <li><a href="#">TESTIMONIOS</a></i></li>
      <li><a href="#">SOPORTE</a></li>
      <li><a href="contact.html">NOTAS</a></li>
    </ul>
	  </div>
	  <!-- end site-menu -->
  </div>
  <!-- end container --> 
</nav>
<!-- end navbar -->
<header class="header">
  <video autoplay muted loop id="video-background">
    <source src="/static/images/HEADER_NEXT SIEMBRA_LOOP.mp4" type="video/mp4">
    Tu navegador no soporta videos HTML5.
  </video>
  <div class="container">
    <div class="inner">
      <h1><span class="bracket">[</span> Legado innovador <span class="bracket">]</span></h1>
      <h2 class="typewriter">Más de 20 años haciendo rendir tu campo</h2>
      <a href="#">COTIZAR EQUIPOS</a>
    </div>
    
    <!-- end inner --> 
  </div>
  <!-- end containe --> 
  
</header>
<!-- end header -->

<aside class="close"> <!-- Por defecto en estado cerrado -->
  <div></div> <!-- Este div sigue vacío, tal vez para uso futuro -->

  <div class="calculadora-container">
      <span class="picker-text">COTIZADOR ONLINE</span>
      <!-- Botón de cierre (X) -->
      <button class="close-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              <line x1="18" y1="6" x2="6" y2="18" />
              <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
      </button>

      <div class="calculadora-content">
          <div class="left-column">
              <h1>Cotizador Online</h1>
              
              <h2 class="lineas">Cantidad de líneas a cotizar</h2>
              <input type="text" placeholder="0 - 50" />

              <h2>Marca de la sembradora</h2>
              <select>
                  <option value="marca1">Marca 1</option>
                  <option value="marca2">Marca 2</option>
                  <option value="marca3">Marca 3</option>
              </select>

              <h2>Tecnología a implementar</h2>
              <div class="radio-group">
                <div class="border-radio">
                    <label>
                        Tecnología 1
                        <input type="radio" name="tecnologia" value="tecnologia1" />
                    </label>
                </div>
                <div class="border-radio">
                    <label>
                        Tecnología 2
                        <input type="radio" name="tecnologia" value="tecnologia2" />
                    </label>
                </div>
                <div class="border-radio">
                    <label>
                        Tecnología 3
                        <input type="radio" name="tecnologia" value="tecnologia3" />
                    </label>
                </div>
            </div>
            
          </div>

          <div class="separator"></div>

          <div class="right-column">
              <h1 class="monto-estimado">Monto Estimado</h1>
              <h2 class="estimacion"><span class="dolar">u$s</span> <span class="cantidad">100.000</span></h2>
              <button class="cotizacion-btn">Obtener Cotización</button>
          </div>
      </div>
  </div>
</aside>



<section class="content-block-cotizaciones">
  <div class="container-cotizaciones">
<div class="container-all">
  <div class="container mt-5">
    <div class="row">
      <!-- Bloque 1: Cotización (Soja, Maíz, Trigo) -->
      <div class="col-md-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="soja-tab"
              data-bs-toggle="tab"
              href="#soja"
              role="tab"
              aria-controls="soja"
              aria-selected="true"
              >Soja</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="maiz-tab"
              data-bs-toggle="tab"
              href="#maiz"
              role="tab"
              aria-controls="maiz"
              aria-selected="false"
              >Maíz</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="trigo-tab"
              data-bs-toggle="tab"
              href="#trigo"
              role="tab"
              aria-controls="trigo"
              aria-selected="false"
              >Trigo</a
            >
          </li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
          <!-- Soja Tab Content -->
          <div
            class="tab-pane fade show active"
            id="soja"
            role="tabpanel"
            aria-labelledby="soja-tab"
          >
            <div class="row">
              {% for item in data['soja'] %}
              <div class="col-md-12">
                <div class="d-flex align-items-center item">
                  <span
                    class="flex-shrink-0"
                    style="width: 10rem; font-size: 14px"
                  >
                    {{ item.name }}
                  </span>
                  <span
                    class="flex-shrink-0 ms-3"
                    style="width: 7rem; font-size: 14px"
                  >
                    {{ item.price }}
                  </span>

                  <span
                    class="ms-3 text-end d-flex align-items-center"
                    style="font-size: 14px; width: 7vh"
                  >
                    {% set percent_str = item.percent | replace(',', '.') |
                    replace('%', '') %} {% set percent = percent_str | float
                    %} {% if percent > 0 %}
                    <!-- Mostrar porcentaje positivo en verde -->
                    <span
                      class="ms-3 text-end d-flex align-items-center"
                      style="color: green"
                      >{{ item.percent }}</span
                    >
                    <i
                      class="fas fa-circle-arrow-up"
                      style="color: green"
                    ></i>
                    {% elif percent < 0 %}
                    <!-- Mostrar porcentaje negativo en rojo -->
                    <span class="ms-3 text-end" style="color: red"
                      >{{ item.percent }}</span
                    >
                    <i
                      class="fas fa-circle-arrow-down"
                      style="color: red"
                    ></i>
                    {% else %}
                    <!-- Mostrar porcentaje 0 en celeste -->
                    <span style="color: lightblue">{{ item.percent }}</span>
                    <i class="fas fa-equals" style="color: lightblue"></i>
                    {% endif %}
                  </span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <!-- Maíz Tab Content -->
          <div
            class="tab-pane fade"
            id="maiz"
            role="tabpanel"
            aria-labelledby="maiz-tab"
          >
            <div class="row">
              {% for item in data['maiz'] %}
              <div class="col-md-12">
                <div class="d-flex align-items-center item">
                  <span
                    class="flex-shrink-0"
                    style="width: 10rem; font-size: 14px"
                  >
                    {{ item.name }}
                  </span>
                  <span
                    class="flex-shrink-0 ms-3"
                    style="width: 7rem; font-size: 14px"
                  >
                    {{ item.price }}
                  </span>
                  <span
                    class="ms-3 text-end d-flex align-items-center"
                    style="font-size: 14px; width: 7vh"
                  >
                    {% set percent_str = item.percent | replace(',', '.') |
                    replace('%', '') %} {% set percent = percent_str | float
                    %} {% if percent > 0 %}
                    <span style="color: green">{{ item.percent }}</span>
                    <i
                      class="fas fa-circle-arrow-up"
                      style="color: green"
                    ></i>
                    {% elif percent < 0 %}
                    <span style="color: red">{{ item.percent }}</span>
                    <i
                      class="fas fa-circle-arrow-down"
                      style="color: red"
                    ></i>
                    {% else %}
                    <span style="color: lightblue">{{ item.percent }}</span>
                    <i class="fas fa-equals" style="color: lightblue"></i>
                    {% endif %}
                  </span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <!-- Trigo Tab Content -->
          <div
            class="tab-pane fade"
            id="trigo"
            role="tabpanel"
            aria-labelledby="trigo-tab"
          >
            <div class="row">
              {% for item in data['trigo'] %}
              <div class="col-md-12">
                <div class="d-flex align-items-center item">
                  <span
                    class="flex-shrink-0"
                    style="width: 10rem; font-size: 14px"
                  >
                    {{ item.name }}
                  </span>
                  <span
                    class="flex-shrink-0 ms-3"
                    style="width: 7rem; font-size: 14px"
                  >
                    {{ item.price }}
                  </span>
                  <span
                    class="ms-3 text-end d-flex align-items-center"
                    style="font-size: 14px; width: 7vh"
                  >
                    {% set percent_str = item.percent | replace(',', '.') |
                    replace('%', '') %} {% set percent = percent_str | float
                    %} {% if percent > 0 %}
                    <span style="color: green">{{ item.percent }}</span>
                    <i
                      class="fas fa-circle-arrow-up"
                      style="color: green"
                    ></i>
                    {% elif percent < 0 %}
                    <span style="color: red">{{ item.percent }}</span>
                    <i
                      class="fas fa-circle-arrow-down"
                      style="color: red"
                    ></i>
                    {% else %}
                    <span style="color: lightblue">{{ item.percent }}</span>
                    <i class="fas fa-equals" style="color: lightblue"></i>
                    {% endif %}
                  </span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
     
    <!-- Bloque 2: Bolsas y Cereal (o lo que llamas "bolsaycot") -->
<div class="col-md-4">
<div class="weather-block">
<div class="title-container ">
  <span class="title">Bolsas y monedas</span>
</div>

{% for section, items in data['bolsaycot'].items() %}
  {% for item in items %}
    <div class="d-flex align-items-center item mb-3">
      <!-- Nombre de la sección -->
      <span  class="flex-shrink-0 myElement" style="width: 10rem; font-size: 14px;">
        {{ item.name }}
      </span>
      
      <!-- Precio -->
      <span class="flex-shrink-0 ms-3" style="width: 4rem; font-size: 14px;">
        {{ item.price }}
      </span>
      
      <!-- Porcentaje y su icono -->
      <span class="ms-3 text-end d-flex align-items-center" style="font-size: 14px; width: 12vh;">
        {% set percent_str = item.percent | replace(',', '.') | replace('%', '') %}
        {% set percent = percent_str | float %}
        {% if percent > 0 %}
          <span style="color: green">{{ item.percent }}</span>
          <i class="fas fa-circle-arrow-up" style="color: green"></i>
        {% elif percent < 0 %}
          <span style="color: red">{{ item.percent }}</span>
          <i class="fas fa-circle-arrow-down" style="color: red"></i>
        {% else %}
          <span style="color: lightblue">{{ item.percent }}</span>
          <i class="fas fa-equals" style="color: lightblue"></i>
        {% endif %}
      </span>
    </div>
  {% endfor %}
{% endfor %}
</div>
</div>

<!-- Bloque 3: Clima -->
<div class="col-md-4">
<div class="weather-block-clima">
<div class="title-container">
  <span class="title">Clima en Rosario</span>
</div>
<div class="forecast-container d-flex justify-content-between">
  {% for forecast in data.weather.forecast %}
  <div class="forecast-column text-center">
    <!-- Día de la semana -->
    <p class="forecast-date"><strong>{{ forecast.day_name }}</strong></p>

    <!-- Temperaturas -->
    <p class="forecast-temp">
      {{ forecast.min_temp }}° / {{ forecast.max_temp }}°
    </p>

    <!-- Ícono del clima -->
    <div class="forecast-weather">
      <img src="{{ forecast.weather_icon }}" alt="Clima" class="weather-icon">
    </div>
  </div>
  {% endfor %}
</div>
</div>
</div>

</div>
</section>











<section class="content-block">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 wow fadeIn">
        <div class="text-content-block">
          <h6>NUESTRA EMPRESA</h6>
          <h2>Más de 20 años de experiencia<br>
            en el campo argentino</h2>
          <p>Con más de dos décadas de experiencia, nos destacamos por ofrecer soluciones de calidad y mejora para el sector agropecuario.</p>
          <p>Nuestra evolución constante y compromiso con el campo nos han posicionado como líderes en la comercialización de tecnología para la siembra.</p>
          
           </div>
        <!-- end text-content-block --> 
      </div>
      <!-- end col-6 -->
      <div class="col-lg-3 col-md-6 wow fadeIn">
        <figure class="image-box" data-stellar-ratio="1.3"> <img src="/static/images/001.jpeg" alt="Image"> </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6 wow fadeIn">
        <figure class="image-box" data-stellar-ratio="1.1"> <img src="/static/images/002.jpg" alt="Image"> </figure>
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 


    <!-- Sección Partners y Convenios -->
     <div class="container-partens">
    <div class="row">
      <div class="col-12">
        <!-- Título Partners -->
        <h2 class="section-title">PARTNERS</h2>
        <!-- Logos de Partners -->
        <div class="row logos-partners">
          <div class="col-2">
            <figure>
              <img src="/static/images/Recurso 5BOSCH.svg" alt="Logo 1">
            </figure>
          </div>
          <div class="col-2">
            <figure>
              <img src="/static/images/Recurso 6MATERMACC.svg" alt="Logo 2">
            </figure>
          </div>
        </div>
        
        <!-- Título Convenios -->
        <h2 class="section-title">CONVENIOS</h2>
        <!-- Logos de Convenios -->
        <div class="row logos-convenios">
          <div class="col-2">
            <figure>
              <img src="/static/images/Recurso 12AMARELA.svg" alt="Logo 3">
            </figure>
          </div>
          <div class="col-2">
            <figure>
              <img src="/static/images/Recurso 13GALLAGRO.svg" alt="Logo 4">
            </figure>
          </div>
          <div class="col-2">
            <figure>
              <img src="/static/images/Recurso 14BREVANT.svg" alt="Logo 5">
            </figure>
          </div>
          <div class="col-2">
            <figure>
              <img src="/static/images/Recurso 15AGROLEON.svg" alt="Logo 6">
            </figure>
          </div>
          <div class="col-2">
            <figure>
              <img src="/static/images/Recurso 16BERTINI.svg" alt="Logo 7">
            </figure>
          </div>
          <div class="col-2">
            <figure>
              <img src="/static/images/Recurso 17SSMORANDI.svg" alt="Logo 8">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Fin de sección Partners y Convenios -->


  <div class="services-icon">
    <div class="service-item">
      <img src="/static/images/Recurso 1ICONO LINEAS DE SIEMBRA.svg" alt="Icono 1">
      <h4 class="counter" data-target="90000">0</h4> <!-- Aquí el número comienza en 0 -->
      <p>líneas de siembra activas</p>
    </div>
  
    <div class="service-item">
      <img src="/static/images/Recurso 2ICONO CONCESIONARIOS.svg" alt="Icono 2">
      <h4 class="counter" data-target="50">0</h4> <!-- Aquí el número comienza en 0 -->
      <p>concesionarios en todo el país</p>
    </div>
  
    <div class="service-item">
      <img class="icono3" src="/static/images/Recurso 3ICONO SOPORTE.svg" alt="Icono 3">
      <h4 class="counter" data-target="12">0</h4> <!-- Aquí el número comienza en 0 -->
      <p>provincias con soporte técnico</p>
    </div>
  </div>
  
  
   <!-- end services-icon --> 
</section>
<!-- end content-block -->


<section class="content-block no-spacing">
  <div class="row no-gutters">
    <div class="col-12 wow fadeIn">
      <!-- Solapas para navegación -->
       <div class="subtitle-prod">
        <h2>Nuestros productos</h2>
       </div>
      
      <div class="slider-tabs">

        <button data-slide="0" class="active">MAGIC SEM</button>
        <button data-slide="1">IPS BOSCH</button>
        <button data-slide="2">TURBINA L80</button>
        <button data-slide="3">TURBINA D440</button>
        <button data-slide="4">FERTILIZANTE</button>
      </div>
      <!-- end slider-tabs -->

      <div class="carousel-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure><img src="/static/images/FONDO + PRODUCTO.svg" alt="Image"></figure>
          </div>
          <div class="swiper-slide">
            <figure><img src="/static/images/cases02.jpg" alt="Image"></figure>
          </div>
          <div class="swiper-slide">
            <figure><img src="/static/images/cases03.jpg" alt="Image"></figure>
          </div>
          <div class="swiper-slide">
            <figure><img src="/static/images/cases04.jpg" alt="Image"></figure>
          </div>
          <div class="swiper-slide">
            <figure><img src="/static/images/cases05.jpg" alt="Image"></figure>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
        <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
      </div>
    </div>
  </div>
</section>

<!-- end content-block -->



<section class="content-block">
  <div class="title-block text-center wow fadeIn">
    <h6>LA VOZ DE NUESTROS CLIENTES</h6>
    <h2>Testimonios que avalan nuestra trayectoria</h2>
  </div>
  <!-- end title-block -->
  
  <div class="testimonials-slider wow fadeIn swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="testimonial">
          <blockquote>
            Con Next Siembra, vimos un cambio notable en la eficiencia de las sembradoras. Después de años en el campo, puedo decir que la calidad de sus equipos y el soporte constante hacen una gran diferencia en los resultados. El soporte en menos de 24 horas nos ha permitido mejorar el rendimiento y simplificar el trabajo en cada campaña.
          </blockquote>
          <figure>
            <img src="/static/images/reviewer01.jpg" alt="Image">
            <figcaption>
              <h6>Inc. Equalizer</h6>
              <small>Jessica Stillman</small>
            </figcaption>
          </figure>
        </div>
        <!-- end testimonial-->
      </div>
      <!-- end swiper-slide -->
      
      <div class="swiper-slide">
        <div class="testimonial">
          <blockquote>
            Entrepreneurs, artists, athletes, and other individuals who have excelled in their field share fun and inspiring stories from their journey to success.
          </blockquote>
          <figure>
            <img src="/static/images/reviewer02.jpg" alt="Image">
            <figcaption>
              <h6>Four Dots</h6>
              <small>Daria Avdeieva</small>
            </figcaption>
          </figure>
        </div>
        <!-- end testimonial-->
      </div>
      <!-- end swiper-slide -->
      
      <div class="swiper-slide">
        <div class="testimonial">
          <blockquote>
            Entrepreneurs, artists, athletes, and other individuals who have excelled in their field share fun and inspiring stories from their journey to success.
          </blockquote>
          <figure>
            <img src="/static/images/reviewer03.jpg" alt="Image">
            <figcaption>
              <h6>Holly's Mag</h6>
              <small>Jack Bauer</small>
            </figcaption>
          </figure>
        </div>
        <!-- end testimonial-->
      </div>
      <!-- end swiper-slide -->
      
      <div class="swiper-slide">
        <div class="testimonial">
          <blockquote>
            Entrepreneurs, artists, athletes, and other individuals who have excelled in their field share fun and inspiring stories from their journey to success.
          </blockquote>
          <figure>
            <img src="/static/images/reviewer04.jpg" alt="Image">
            <figcaption>
              <h6>Sauncle LLC</h6>
              <small>Danny Glover</small>
            </figcaption>
          </figure>
        </div>
        <!-- end testimonial-->
      </div>
      <!-- end swiper-slide -->
    </div>
    <!-- end swiper-wrapper -->
    
    <!-- Botones de navegación -->
    <div class="swiper-button-prev2"><i class="fas fa-chevron-left"></i></div>
    <div class="swiper-button-next2"><i class="fas fa-chevron-right"></i></div>
  </div>
  <!-- end testimonials-slider -->
</section>
<!-- end content-block -->






<section class="content-block pricing-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 wow fadeIn">
        <div class="text-content-block">
          <h6>SOPORTE TÉCNICO</h6>
          <h2>Llegamos a todo el campo argentino <br> en menos de 24 horas</h2>
          <div class="descrption-support">
            <p>Siempre cerca de quienes buscan maximizar cada siembra.</p>
            <p>Ofrecemos una red de soporte técnico en los principales puntos del país, garantizando soluciones rápidas y efectivas para cada necesidad.</p>
          </div>
          <!-- end description-support -->
        </div>
        <!-- end text-content-block --> 
      </div>
      <!-- end col-5 -->
      <div class="col-lg-5 wow fadeIn">
        <img class="mapa" src="/static/images/Mapa Animado_Gif.gif" lt="logo">
       
      </div>
      <!-- end col-7 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container --> 
</section>
<!-- end content-block -->


<section class="content-block bg-pattern no-bottom-spacing">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
        <div class="text-content-block notas">
          <h6>NOTAS DE INTERÉS</h6>
          <h2>Lo último de Next Siembra</h2>
        </div>
        <!-- end text-content-block --> 
      </div>
      <!-- end col-12 -->
      <div class="col-lg-6 wow fadeIn">
        <div class="news-box head-news">
          <figure class="news-image"><img src="/static/images/news01.jpg" alt="Image"></figure>
          <div class="news-content"> <b>01, Sepmteber 2019</b>
            <h4><a href="#">Globally incubate standards compliant 
              channels before scalable benefits. </a></h4>
            <figure> <img src="/static/images/author01.jpg" alt="Image">
              <figcaption>
                <h6>Executive Chief</h6>
                <small>Jessica Stillman</small> </figcaption>
            </figure>
          </div>
          <!-- end news-content --> 
        </div>
        <!-- end news-box --> 
      </div>
      <!-- end col-6 -->
      <div class="col-lg-3 col-md-6 wow fadeIn">
        <div class="news-box">
          <figure class="news-image"><img src="/static/images/news02.jpg" alt="Image"></figure>
          <div class="news-content"> <b>01, Sepmteber 2019</b>
            <h4><a href="#">This amazing exhibit provides insight into glaciers and their bleak future item. </a></h4>
            <figure> <img src="/static/images/author02.jpg" alt="Image">
              <figcaption>
                <h6>UI Designer</h6>
                <small>Danny Glover</small> </figcaption>
            </figure>
          </div>
          <!-- end news-content --> 
        </div>
        <!-- end news-box --> 
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6 wow fadeIn">
        <div class="news-box">
          <figure class="news-image"><img src="/static/images/news09.jpg" alt="Image"></figure>
          <div class="news-content"> <b>01, Sepmteber 2019</b>
            <h4><a href="#">Visitors learn about Iceland’s glaciers their effect on the land of homeland.</a></h4>
            <figure> <img src="/static/images/author03.jpg" alt="Image">
              <figcaption>
                <h6>Developer</h6>
                <small>Jack Bauer</small> </figcaption>
            </figure>
          </div>
          <!-- end news-content --> 
        </div>
        <!-- end news-box --> 
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-block -->

<section class="subscription-block">
  <div class="container">
    <div class="subscribe-box">
      <div class="inner wow fadeIn">
        <h2>Suscribite a <br>
          nuestro newsletter</h2>
        <form class="newsletter">
          <input type="email" placeholder="e-mail">
          <input type="submit" value="SUSCRIBITE">
        </form>
      </div>
      <!-- end inner --> 
    </div>
    <!-- end subscribe-box --> 
  </div>
  <!-- end container --> 
</section>
<!-- end subscription-block -->


<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/static/images/Logo nextsiembra.png" alt="Logo"> <!-- Cambia el path al logo correcto -->
    </div>
    <div class="footer-text">
      <h6><span class="bracket">[</span> Legado innovador <span class="bracket">]</span></h6>
    </div>
  </div>
</footer>
<!-- end footer --> 

<!-- JS FILES --> 
<script src="/static/js/jquery.min.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 
<script src="/static/js/swiper.min.js"></script> 
<script src="/static/js/fancybox.min.js"></script> 
<script src="/static/js/odometer.min.js"></script> 
<script src="/static/js/jquery.stellar.js"></script> 
<script src="/static/js/wow.min.js"></script> 
<script src="/static/js/tabs.js"></script>
<script src="/static/js/scripts.js"></script>
<script src="/static/js/calculadora.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
 <!-- Asegúrate de incluir Bootstrap JS para el funcionamiento de las pestañas -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
 <script src="/static/js/script.js"></script>

</body>
</html>